.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    
    .col-md-6 {
      text-align: center; // Centra il testo all'interno della colonna
    }
  }
  
  .footer h4 {
    color: #efe191; /* Colore giallo o un altro colore a tua scelta */
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .social-icons {
    font-size: 24px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
  }
.logo{
    width: 50px;
    border-radius: 30px;
}
a{
    text-decoration: none;
}