<footer class="footer" id="contatti">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contatti</h4>
          <p>Email: info@tuazienda.com</p> 
          <p>Telefono: +39 012 345 6789</p>
        </div>
        
        <div class="col-md-6">
          <h4>Seguici</h4>
          <div class="social-icons">
            <!-- add links -->
            <a href="#" target="_blank"><img class="logo" src="../../../assets/Instagram.png" alt=""></a>
            <a href="#" target="_blank"><img class="logo" src="../../../assets/facebook.png" alt=""></a>
            <a href="#" target="_blank"><img class="logo" src="../../../assets/whatsapp.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  