<app-carousel></app-carousel>
<div class="container">
    <div class="row py-5">
        <!-- FIRST -->
        <div class="col-lg-6 col-12 my-5 a-right">
            <img src="../../../assets/impianti-elettrici.jpeg" alt="impianti-elettrici">
        </div>
        <div class="col-lg-6 col-12 my-5 a-right">
            <h1>Impianti elettrici</h1>
            <p>Progettazione Personalizzata: Il nostro team di ingegneri esperti collabora strettamente con i clienti per sviluppare soluzioni su misura, garantendo che gli impianti elettrici soddisfino le esigenze specifiche di ogni progetto.
                Installazione Professionale: Eseguiamo installazioni efficienti e sicure, utilizzando materiali e attrezzature di alta qualità. La nostra attenzione ai dettagli assicura che ogni impianto sia conforme agli standard normativi e alle norme di sicurezza.
                Manutenzione Preventiva: Offriamo programmi di manutenzione preventiva per garantire il corretto funzionamento e la sicurezza continua degli impianti nel tempo. Questo contribuisce a prevenire guasti improvvisi e prolunga la vita utile degli impianti.
                Risparmio Energetico: Siamo impegnati nell'implementazione di soluzioni a basso consumo energetico, aiutando i nostri clienti a ridurre i costi operativi e a contribuire alla sostenibilità ambientale.
            </p>
        </div>

        <!-- SECOND -->
        <div class="col-lg-6 col-12 my-5 a-left">
            <h1>Impianti Antincendio</h1>
            <p>Progettazione Personalizzata: Il nostro team di ingegneri esperti collabora strettamente con i clienti per sviluppare soluzioni su misura, garantendo che gli impianti elettrici soddisfino le esigenze specifiche di ogni progetto.
                Installazione Professionale: Eseguiamo installazioni efficienti e sicure, utilizzando materiali e attrezzature di alta qualità. La nostra attenzione ai dettagli assicura che ogni impianto sia conforme agli standard normativi e alle norme di sicurezza.
                Manutenzione Preventiva: Offriamo programmi di manutenzione preventiva per garantire il corretto funzionamento e la sicurezza continua degli impianti nel tempo. Questo contribuisce a prevenire guasti improvvisi e prolunga la vita utile degli impianti.
                Risparmio Energetico: Siamo impegnati nell'implementazione di soluzioni a basso consumo energetico, aiutando i nostri clienti a ridurre i costi operativi e a contribuire alla sostenibilità ambientale.
            </p>
        </div>
        <div class="col-lg-6 col-12 my-5 a-left">
            <img src="../../../assets/impianti-antincendio.jpeg" alt="antincendio">
        </div>

        <!-- THIRD -->
        <div class="col-lg-6 col-12 my-5 a-right">
            <img src="../../../assets/impianti-climatizzazione.jpeg" alt="climatizzazione">
        </div>
        <div class="col-lg-6 col-12 my-5 a-right">
            <h1>Impianti di climatizzazione</h1>
            <p>MGImpianti Srl è la vostra soluzione affidabile per impianti di climatizzazione di alta qualità.
                Con anni di esperienza nel settore, ci dedichiamo a fornire soluzioni innovative e personalizzate per garantire un comfort ottimale nei vostri ambienti, sia residenziali che commerciali.
            </p>
        </div>
    </div>

    <div class="row my-5" id="progetti">
        <h1>I Nostri Progetti</h1>

        <div class="col-6">
            <div class="col-6">

                <!-- FIRST PROJECT -->
                <div class="col-12 project one">
                    <p><span>Dove si è svolto il progetto:</span>  Il terzo progetto è stato realizzato in una vibrante area culturale, ricca di storia e tradizioni. La presenza di una comunità culturalmente diversificata ha influenzato il nostro approccio creativo.    </p>
                    <p><span>Cosa abbiamo svolto:</span> In questo contesto culturale, ci siamo dedicati a progetti che celebrano e preservano la ricca eredità storica della zona. Attraverso installazioni artistiche e interventi architettonici, abbiamo contribuito a promuovere l'orgoglio culturale e a preservare le radici della comunità.                        
                    </p>
                </div>

                <!-- SECOND PROJECT -->
                <div class="col-12 project two">
                    <p><span>Dove si è svolto il progetto:</span> Il secondo progetto ha avuto luogo in una cornice naturale mozzafiato, circondati dalla bellezza incontaminata di una riserva naturale. L'ambiente sereno e ispiratore ha fornito la base perfetta per il nostro lavoro creativo.</p>
                    <p><span>Cosa abbiamo svolto:</span> In questo scenario naturale, abbiamo focalizzato il nostro impegno sulla progettazione di soluzioni sostenibili. Abbiamo lavorato a stretto contatto con la natura, creando progetti che rispettano l'ecosistema locale e incorporano elementi eco-friendly per una coesistenza armoniosa.</p>
                </div>
            </div>
            
        </div>

        <!-- THIRD PROJECT -->
        <div class="col-lg-6 col-12">
            <div class=" project three">
                <p><span>Dove si è svolto il progetto:</span> Il nostro primo progetto si è svolto in un affascinante contesto urbano, nel cuore di una vivace metropoli. L'energia della città ha permeato ogni fase del nostro lavoro, contribuendo a creare un ambiente dinamico e stimolante.</p>
                <p><span>Cosa abbiamo svolto:</span> In questo ambiente urbano, ci siamo concentrati su una ristrutturazione innovativa di spazi pubblici. Attraverso un approccio di design centrato sull'utente, abbiamo trasformato gli spazi esistenti in luoghi accoglienti e funzionali, promuovendo l'interazione sociale e la connessione comunitaria.
                </p>
            </div>
        </div>
        
    </div>

</div>
