img {
    width: 100px;
  }
  
.nav {
    background-color: #808080; 
}
  

.navbar {
  display: flex;
  align-items: center;  // Allinea verticalmente al centro
}

.navbar-nav {
  padding-right: 56px; 
  display: flex;
  justify-content: flex-end;  // Allinea gli elementi a destra
  align-items: flex-end;  // Allinea verticalmente al centro
  flex-grow: 1;  // Fai espandere la navbar-nav per occupare lo spazio rimanente
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-item{
  
  // @media only screen and (max-width: 992px) {
  //   background-color: red;
  // }
  
}
.nav-item:hover{
  a{
    color: aquamarine;
  }
}

